<div class="row">
    <div class="col-12">
        <h3 class="text-center">Admin List</h3>
        <table class="table table-dark">
            <tr><th colspan="5" style="text-align:center;">Admin</th></tr>
            @foreach (var item in ViewBag.adminlist)
            {
                <tr>
                    <td>@item.firstname @item.lastname</td>
                    <td>@item.email</td>
                    <td><i class="fa fa-minus-square"></i></td>
                </tr>
            }
            <tr><th colspan="5" style="text-align:center;">Moderators</th></tr>
            @foreach (var item in ViewBag.modlist)
            {
                <tr>
                    <td>@item.firstname @item.lastname</td>
                    <td>@item.email</td>
                    <td><i class=""></i></td>
                </tr>
            }
            <tr><th colspan="5" style="text-align:center;">Users</th></tr>
            @foreach (var item in ViewBag.userlist)
            {
                <tr>
                    <td>@item.firstname @item.lastname</td>
                    <td>@item.email</td>
                    <td><i class=""></i></td>
                </tr>
            }
        </table>
    </div>
</div>