<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Rating</th>
    </tr>
    <tr>
        <td>@ViewBag.asset.id</td>
        <td>@ViewBag.asset.title</td>
        <td>@ViewBag.asset.description</td>
        <td>@ViewBag.asset.price</td>
        <td>@ViewBag.asset.rating</td>
    </tr>
</table>